= content_for :title, "Administration"

= render "shared/header"

#page
  = render "restaurant_form"
  #restaurants
    %h3 Existing Restaurants :
    %table
      = render :partial => "restaurant", :collection => @restaurants
