=admin

#restaurant-form
  float: left
  padding: 15px 0 0 20px
  line-height: 25px
  #left-field
    clear: both
    float: left
  #right-field
    float: left
    margin-left: 20px
  #fields
    clear: both
  .primary-button
    margin-top: 15px
#user-info
  float: left
  padding: 15px 0 0 40px
  width: 300px
  p
    float: left
    margin-right: 25px
#restaurants
  clear: both
  padding: 15px 0 0 20px
  line-height: 35px
  table
    border: 1px solid
  td
    padding: 0 10px
#user
  padding: 15px 0 0 20px
  line-height: 25px
