=restaurant

#tabs-1
  #columns
    width: 100%
    #left-column
      float: left
      width: 48%
      margin-left: 2%
      #payment-form
        #left-field
          clear: both
          float: left
        #right-field
          float: left
          margin-left: 20px
        #fields
          clear: both
          padding-top: 10px

      .step
        margin-top: 3.5em
      .step-heading
        background: -moz-linear-gradient(center bottom , #F7F7F7 1pt, #F0FFFF 100%) repeat scroll 0 0 transparent
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#F7F7F7),color-stop(1,#F0FFFF))
        border-bottom: 1px solid #C1CDCD
      .step-content
        margin: 1em 0 0 1em
        font-size: 1.1em
      .step-number
        font-size: 2em
        color: #183787
      .heading
        font-size: 1.5em
        margin-left: 1em
        color: #1874CD
    #right-column
      float: right
      width: 45%
      margin-left: 5%