$primary_color: #4b7399

body
  background-image: url('../../images/restaurant.jpg')
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font:
    family: Verdana, Helvetica, Arial
    size: 14px

a
  color: blue
  img
    border: none

.clear
  clear: both
  height: 0
  overflow: hidden

#container
  #content
    background-color: #000000
    border: 1px solid black
    color: #FFFFFF
    opacity: 0.8
    padding: 40px
    height: 315px
    left: 50%
    top: 50%
    margin: -280px 0 0 -250px
    position: absolute
    width: 500px
    text-align: left
    a
      color: white
    #logo-container
      margin-bottom: 10px
      width: 27%
      float: left
    #slogan
      font-size: 18px
      width: 66%
      float: right
    #separator
      float: left
      width: 20px
      height: 230px
      background: url('../../images/separator.png') repeat-y
      margin-left: 42px
    #login
      clear: both
      float: left
      width: 200px
      .field
        width: 175px
    #signup
      float: right
      width: 200px
    #footer
      clear: both
      float: left
      margin: 15px 0 0 36px
      a
        margin: 0 2px 0 2px
        text-decoration: none


//#flash_notice,
//#flash_error,
//#flash_alert
//  padding: 5px 8px
//  margin: 10px 0
//
//#flash_notice
//  background-color: #ccffcc
//  border: solid 1px #66cc66
//
//#flash_error,
//#flash_alert
//  background-color: #ffcccc
//  border: solid 1px #cc6666

.fieldWithErrors
  display: inline

.error_messages
  width: 400px
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font:
    size: 12px
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font:
      weight: bold
      size: 12px
    background-color: #cc0000
    color: white
  p
    margin: 8px 10px
  ul
    margin: 0

.primary-button
  width: 100px

.less-dull
  opacity: 0.7

.more-dull
  opacity: 0.4

.logo
  width: 130px