$primary_color: #4b7399

body
  background-image: url('../../images/restaurant.jpg')
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font:
    family: Verdana, Helvetica, Arial
    size: 14px

a
  color: blue
  img
    border: none

.clear
  clear: both
  height: 0
  overflow: hidden

#container
  #page
    width: 70%
    margin: 0 auto
    #logo
      width: 20%
      float: left
    #city
      width: 15%
      height: 100%
      float: left
  #tab-container
    clear: both
  #content
    background-color: #000000
    border: 1px solid black
    color: #FFFFFF
    opacity: 0.8
    padding: 20px 40px 20px 70px
    height: 596px
    left: 50%
    top: 50%
    margin: -350px 0 0 -370px
    position: absolute
    width: 680px
    text-align: left
    .field
      width: 175px
    .name-field
      width: 90px
    a
      color: white
    h2
      color: #6495ED
    #logo-container
      width: 27%
      float: left
    #slogan
      font-size: 23px
      width: 68%
      float: right
    #description
      clear: both
      font-size: 15.5px
      margin: 0 0 10px 56px
    #separator
      float: left
      width: 1px
      margin-left: 10px
      margin-right: 10px
      height: 455px
      background: url('../../images/separator.png') repeat-y
      margin-left: 42px
    #login
      clear: both
      float: left
      width: 270px
      //height: 430px
      .field
        width: 175px
    #signup
      float: right
      width: 280px
      height: 430px
      #first-name
        float: left
      #last-name
        float: left
        margin-left: 20px
      #fields
        clear: both
        padding-top: 10px
    #footer
      clear: both
      float: left
      a
        margin: 2px 2px 0 2px
        text-decoration: none
    #copyright
      clear: both
      font-size: 9px
      width: 35%
      margin-left: 192px
      padding-top: 10px


//#flash_notice,
//#flash_error,
//#flash_alert
//  padding: 5px 8px
//  margin: 10px 0
//
//#flash_notice
//  background-color: #ccffcc
//  border: solid 1px #66cc66
//
//#flash_error,
//#flash_alert
//  background-color: #ffcccc
//  border: solid 1px #cc6666

.fieldWithErrors
  display: inline

.error_messages
  width: 400px
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font:
    size: 12px
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font:
      weight: bold
      size: 12px
    background-color: #cc0000
    color: white
  p
    margin: 8px 10px
  ul
    margin: 0

.primary-button
  width: 82px
  height: 26px
  -moz-border-radius: 6px 6px 6px 6px
  background-color: #6495ED
  border: 1px solid #6495ED
  -webkit-border-radius: 8px

.less-dull
  opacity: 0.7

.more-dull
  opacity: 0.4

.logo
  width: 160px
