body
  background-image: url('../../images/restaurant.jpg')
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font:
    family: Verdana, Helvetica, Arial
    size: 14px

a
  color: blue
  img
    border: none

//.clear
//  clear: both
//  height: 0
//  overflow: hidden

#container
  #page
    width: 70%
    margin: 0 auto
    #logo
      width: 20%
      float: left
    #city
      margin: 27px 0 0 50px
      height: 100%
      float: left
      font-size: 2em
    #arrow
      float: left
      img
        width: 20px
        margin: 35px 0 0 15px
  #tab-container
    clear: both
    #tabs
      float: left
      width: 100%
      height: 55px
      margin-bottom: 30px
      background-color: #11083A
      div
        clear: both
        margin-top: 100px
      li
        float: left
        list-style: none
        padding: 0 50px
        margin-top: -13px
        padding-top: 15px
        padding-bottom: 15px
      li.first
        float: left
        list-style: none
        padding: 0 50px
        margin-left: 450px
        margin-top: -13px
        padding-top: 15px
        padding-bottom: 15px
      li.active
        float: left
        list-style: none
        padding: 0 50px
        opacity: 0.5
        background-color: #292360
        margin-top: -13px
        padding-top: 15px
        padding-bottom: 15px
      a
        color: white
        text-decoration: none
        font-weight: bold
        font-size: 1.3em
  #content
    background-color: #000000
    border: 1px solid black
    color: #FFFFFF
    opacity: 0.8
    padding: 20px 40px 20px 70px
    height: 596px
    left: 50%
    top: 50%
    margin: -350px 0 0 -370px
    position: absolute
    width: 680px
    text-align: left
    .field
      width: 175px
    .name-field
      width: 110px
    a
      color: white
    h2
      color: #1874CD
      margin-bottom: 8px
    #button
      opacity: 1
    #logo-container
      width: 27%
      float: left
    #slogan
      font-size: 23px
      width: 68%
      float: right
    #description
      clear: both
      font-size: 15.5px
      margin: -34px 0 10px 56px
      float: right
    #separator
      float: left
      width: 1px
      margin-left: 10px
      margin-right: 10px
      height: 455px
      background: url('../../images/separator.png') repeat-y
      margin-left: 42px
    #login
      clear: both
      float: left
      width: 270px
      //height: 430px
      .field
        width: 175px
    #signup
      float: right
      width: 280px
      height: 430px
      #first-name
        float: left
      #last-name
        float: left
        margin-left: 20px
      #fields
        clear: both
        padding-top: 10px
      #error_messages
        margin: 8px 0 8px 0
      a
        text-decoration: none
        font-weight: bold
        color: #1874CD
    #footer
      clear: both
      float: left
      a
        margin: 2px 2px 0 2px
        text-decoration: none
    #copyright
      clear: both
      font-size: 9px
      width: 35%
      margin-left: 192px
      padding-top: 10px


.primary-button
  height: 26px
  -moz-border-radius: 6px 6px 6px 6px
  background-color: #6495ED
  border: 1px solid #6495ED
  -webkit-border-radius: 8px

.less-dull
  opacity: 0.7

.more-dull
  opacity: 0.4

.logo
  width: 160px