#header {
  background-color: #11083a;
  height: 6em; }
  #header #logo {
    width: 12%;
    float: left;
    margin: 7px 0 0 11%; }
    #header #logo img {
      width: 132px; }
  #header #seperator {
    float: left;
    background: url("../../images/separator.png") repeat-y;
    height: 43px;
    width: 1px;
    margin-top: 18px;
    opacity: 0.6; }
  #header #city {
    margin: 23px 0 0 60px;
    float: left;
    font-size: 2.2em;
    color: white;
    font-family: Courier New; }
  #header #arrow {
    float: left;
    position: relative;
    z-index: 900; }
    #header #arrow img {
      width: 20px;
      margin: 29px 0 0 15px;
      cursor: pointer; }
    #header #arrow #cities {
      position: absolute;
      background-color: #11083a;
      z-index: 999;
      margin-left: -9.5em;
      width: 13em; }
      #header #arrow #cities ul {
        list-style: none;
        padding-left: 0; }
        #header #arrow #cities ul li {
          font-family: Courier New;
          padding: 0.4em 0 0.3em 1.5em; }
          #header #arrow #cities ul li:hover {
            background-color: #1d1d51; }
          #header #arrow #cities ul li a {
            color: lightGrey;
            text-decoration: none;
            display: block; }
  #header #access-links {
    float: right;
    margin-right: 9%; }
    #header #access-links a {
      margin: 29px 23px 0 23px;
      float: right;
      text-decoration: none;
      color: white; }
    #header #access-links #seperator {
      float: right;
      background: url("../../images/separator.png") repeat-y;
      height: 20px;
      width: 1px;
      opacity: 0.6;
      margin-top: 2em; }

#content {
  background-color: black;
  border: 1px solid black;
  color: white;
  opacity: 0.8;
  padding: 20px 40px 20px 70px;
  height: 575px;
  left: 50%;
  top: 50%;
  margin: -350px 0 0 -370px;
  position: absolute;
  width: 680px;
  text-align: left; }
  #content .field {
    width: 175px; }
  #content .name-field {
    width: 110px; }
  #content a {
    color: white; }
  #content h2 {
    color: #1874cd;
    margin-bottom: 8px; }
  #content #button {
    opacity: 1; }
  #content #logo-container {
    width: 27%;
    float: left; }
  #content #slogan {
    font-size: 23px;
    width: 70%;
    float: right;
    margin-top: 20px; }
  #content #separator {
    float: left;
    width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    height: 455px;
    background: url("../../images/separator.png") repeat-y;
    margin-left: 42px; }
  #content #login {
    clear: both;
    float: left;
    width: 270px; }
    #content #login .field {
      width: 175px; }
  #content #signup {
    float: right;
    width: 280px;
    height: 430px; }
    #content #signup #first-name {
      float: left; }
    #content #signup #last-name {
      float: left;
      margin-left: 20px; }
    #content #signup #fields {
      clear: both;
      padding-top: 10px; }
    #content #signup #error_messages {
      margin: 8px 0 8px 0; }
    #content #signup a {
      text-decoration: none;
      font-weight: bold;
      color: #1874cd; }
  #content #footer {
    clear: both;
    float: left;
    margin-top: 10px; }
    #content #footer a {
      margin: 2px 2px 0 2px;
      text-decoration: none; }
  #content #copyright {
    clear: both;
    font-size: 9px;
    width: 35%;
    margin-left: 192px;
    padding-top: 10px; }

#tabs-1 #columns {
  width: 100%; }
  #tabs-1 #columns #left-column {
    float: left;
    width: 49%;
    margin-left: 2%; }
    #tabs-1 #columns #left-column a {
      color: #1874cd; }
    #tabs-1 #columns #left-column #payment-form .lock {
      margin-left: 5px; }
    #tabs-1 #columns #left-column #payment-form .credit-cards {
      margin-left: 5px; }
    #tabs-1 #columns #left-column #payment-form #left-field {
      clear: both;
      float: left; }
    #tabs-1 #columns #left-column #payment-form #right-field {
      float: left;
      margin-left: 20px; }
    #tabs-1 #columns #left-column #payment-form #fields {
      clear: both; }
    #tabs-1 #columns #left-column #credit-card input {
      width: 150px; }
    #tabs-1 #columns #left-column #billing {
      clear: both;
      height: 205px; }
      #tabs-1 #columns #left-column #billing input {
        width: 150px; }
    #tabs-1 #columns #left-column .charge {
      font-weight: bold;
      clear: both; }
  #tabs-1 #columns .step {
    clear: both;
    margin-top: 3.5em; }
  #tabs-1 #columns .step-heading {
    background: -moz-linear-gradient(center bottom, #f7f7f7 1pt, #e8f0f7 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7f7f7), color-stop(1, #e8f0f7));
    border-bottom: 1px solid #c1cdcd; }
  #tabs-1 #columns .step-content {
    margin: 1em 0 0 1em;
    font-size: 1.1em; }
  #tabs-1 #columns .step-number {
    font-size: 1.8em;
    color: #183787; }
  #tabs-1 #columns .heading {
    font-size: 1.5em;
    margin-left: 5px;
    color: #1874cd; }
  #tabs-1 #columns #right-column {
    float: right;
    width: 44%;
    margin-left: 5%;
    margin-top: 8px; }
    #tabs-1 #columns #right-column img {
      width: 410px; }
    #tabs-1 #columns #right-column .information {
      margin: 1em 0 0 2em;
      line-height: 30px; }
      #tabs-1 #columns #right-column .information .fields {
        font-weight: bold;
        margin-top: 0.5em; }

#restaurant-form {
  float: left;
  padding: 15px 0 0 20px;
  line-height: 25px; }
  #restaurant-form #left-field {
    clear: both;
    float: left; }
  #restaurant-form #right-field {
    float: left;
    margin-left: 20px; }
  #restaurant-form #fields {
    clear: both; }
  #restaurant-form .primary-button {
    margin-top: 15px; }

#user-info {
  float: left;
  padding: 15px 0 0 40px;
  width: 300px; }
  #user-info p {
    float: left;
    margin-right: 25px; }

#restaurants {
  clear: both;
  padding: 15px 0 0 20px;
  line-height: 35px; }
  #restaurants table {
    border: 1px solid; }
  #restaurants td {
    padding: 0 10px; }

#user {
  padding: 15px 0 0 20px;
  line-height: 25px; }

#users {
  width: 100%;
  clear: both;
  padding: 15px 0 0 20px;
  line-height: 35px; }
  #users table {
    border: 1px solid; }
  #users td {
    padding: 0 15px; }

.photo {
  width: 400px; }

.logo {
  width: 160px; }

body {
  background-color: lightSteelBlue;
  height: 3000px;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

#container {
  height: 100%; }
  #container #gap {
    height: 0.7em;
    background-color: #4162ad;
    opacity: 0.9; }
  #container #page {
    height: 100%;
    width: 970px;
    margin: 0 auto;
    background-color: #e8f0f7;
    position: relative; }
    #container #page #tabs {
      float: left;
      width: 100%;
      height: 55px;
      margin-bottom: 30px;
      background: -moz-linear-gradient(center bottom, #11083a 0pt, #2a4187 100%) repeat scroll 0 0 transparent;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #11083a), color-stop(1, #2a4187));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2A4187, endColorstr=#11083A);
      ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2A4187, endColorstr=#11083A)"; }
      #container #page #tabs #tab-container {
        width: 100%;
        position: relative; }
        #container #page #tabs #tab-container ul li {
          float: right;
          list-style: none;
          padding: 0 50px;
          margin-top: -1.1em;
          padding-top: 15px;
          padding-bottom: 15px;
          border: 0.1em solid #2a4187; }
        #container #page #tabs #tab-container ul li.ui-tabs-selected {
          float: right;
          list-style: none;
          padding: 0 50px;
          opacity: 0.8;
          background-color: #292360;
          margin-top: -1.1em;
          padding-top: 15px;
          padding-bottom: 15px;
          border: 0.1em solid #2a4187; }
        #container #page #tabs #tab-container ul a {
          color: white;
          text-decoration: none;
          font-weight: bold;
          font-size: 1.3em;
          display: block; }
      #container #page #tabs #tabs-1 {
        float: left;
        width: 100%; }
        #container #page #tabs #tabs-1 #restaurant-box {
          clear: both;
          margin: 4em 0 2em 2em;
          width: 910px;
          height: 27em;
          border: 1px solid #c1cdcd; }
          #container #page #tabs #tabs-1 #restaurant-box #heading {
            float: left;
            padding: 0 0 0.5em 1em;
            height: 4.5;
            background: -moz-linear-gradient(center bottom, #f7f7f7 10pt, #e8f0f7 100%) repeat scroll 0 0 transparent;
            background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7f7f7), color-stop(1, #e8f0f7 n));
            width: 895px; }
            #container #page #tabs #tabs-1 #restaurant-box #heading p {
              margin: 0 0;
              float: left; }
            #container #page #tabs #tabs-1 #restaurant-box #heading .description {
              margin-top: -0.2em;
              color: #1874cd; }
          #container #page #tabs #tabs-1 #restaurant-box .primary-button {
            float: left;
            margin: 11px 0 5px 0; }
          #container #page #tabs #tabs-1 #restaurant-box #photo {
            float: left; }
            #container #page #tabs #tabs-1 #restaurant-box #photo img {
              height: 23.5em;
              width: 37em; }
          #container #page #tabs #tabs-1 #restaurant-box #information {
            float: left;
            border-top: 1px solid #c1cdcd;
            width: 25em;
            padding: 0.3em 0 0 1.5em; }
            #container #page #tabs #tabs-1 #restaurant-box #information #restaurant-logo {
              float: left;
              margin-bottom: 20px; }
            #container #page #tabs #tabs-1 #restaurant-box #information #address {
              width: 177px;
              float: left;
              margin: 35px 0 0 5px;
              line-height: 25px;
              font-size: 13.5px; }
            #container #page #tabs #tabs-1 #restaurant-box #information img {
              height: 9em;
              width: 12em; }
            #container #page #tabs #tabs-1 #restaurant-box #information p {
              margin: 0 0; }
            #container #page #tabs #tabs-1 #restaurant-box #information .fields {
              clear: both;
              margin-top: 0.5em;
              font-size: 1.3em;
              color: #1874cd; }
      #container #page #tabs #tabs-2 {
        float: left;
        margin: 9em 0 0 2em; }
      #container #page #tabs #tabs-3 {
        float: left;
        margin: 9em 0 0 2em; }
    #container #page #footer {
      width: 70%;
      margin: 0 0 2em 11em;
      position: absolute;
      bottom: 0; }
      #container #page #footer a {
        margin: 2px 2px 0 2px;
        text-decoration: none;
        color: black; }

.primary-button {
  height: 26px;
  -moz-border-radius: 6px 6px 6px 6px;
  font-size: 18px;
  background-color: #2a4187;
  border: 1px solid #2a4187;
  color: white;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 1px 1px 1.5px #11083a;
  -webkit-box-shadow: 1px 1px 1.5px #11083a;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#11083A')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#11083A');
  cursor: pointer; }

.less-dull {
  opacity: 0.7; }

.more-dull {
  opacity: 0.4; }

.logo {
  width: 160px; }

.ui-tabs-hide {
  display: none; }

.hidden {
  display: none; }

.restaurant-name {
  font-size: 1.5em;
  width: 36em; }

.login-photo {
  background-image: url("../../images/restaurant.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }

.flash-error {
  color: red; }
