body {
  background-image: url("../../images/restaurant.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container #page {
  width: 70%;
  margin: 0 auto; }
  #container #page #logo {
    width: 20%;
    float: left; }
  #container #page #city {
    width: 15%;
    height: 100%;
    float: left; }
#container #tab-container {
  clear: both; }
#container #content {
  background-color: black;
  border: 1px solid black;
  color: white;
  opacity: 0.8;
  padding: 20px 40px 20px 40px;
  height: 585px;
  left: 50%;
  top: 50%;
  margin: -350px 0 0 -310px;
  position: absolute;
  width: 618px;
  text-align: left; }
  #container #content .field {
    width: 175px; }
  #container #content a {
    color: white; }
  #container #content #logo-container {
    margin-bottom: 10px;
    width: 27%;
    float: left; }
  #container #content #slogan {
    font-size: 20px;
    width: 68%;
    float: right; }
  #container #content #separator {
    float: left;
    width: 20px;
    height: 455px;
    background: url("../../images/separator.png") repeat-y;
    margin-left: 42px; }
  #container #content #login {
    clear: both;
    float: left;
    width: 255px; }
    #container #content #login .field {
      width: 175px; }
  #container #content #signup {
    float: right;
    width: 255px; }
  #container #content #footer {
    clear: both;
    float: left; }
    #container #content #footer a {
      margin: 2px 2px 0 2px;
      text-decoration: none; }
  #container #content #copyright {
    clear: both;
    font-size: 9px;
    width: 35%;
    margin-left: 192px;
    padding-top: 10px; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

.primary-button {
  width: 100px;
  opacity: 1; }

.less-dull {
  opacity: 0.7; }

.more-dull {
  opacity: 0.4; }

.logo {
  width: 150px; }
