body {
  background-image: url("../../images/restaurant.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

#container {
  height: 100%; }
  #container #page {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    background-color: #f0ffff;
    opacity: 0.9; }
    #container #page #header {
      background-color: #11083a;
      height: 10%; }
      #container #page #header #logo {
        width: 20%;
        float: left;
        margin: 7px 0 0 17px; }
        #container #page #header #logo img {
          width: 132px; }
      #container #page #header #seperator {
        float: left;
        background: url("../../images/separator.png") repeat-y;
        height: 43px;
        width: 1px;
        margin-top: 18px;
        opacity: 0.6; }
      #container #page #header #city {
        margin: 23px 0 0 60px;
        float: left;
        font-size: 2.2em;
        color: white;
        font-family: Courier New; }
      #container #page #header #arrow {
        float: left; }
        #container #page #header #arrow img {
          width: 20px;
          margin: 29px 0 0 15px;
          cursor: pointer; }
        #container #page #header #arrow .cities {
          list-style: none; }
          #container #page #header #arrow .cities a {
            color: white;
            text-decoration: none; }
      #container #page #header #access-links {
        float: right; }
        #container #page #header #access-links a {
          margin: 29px 20px 0 20px;
          float: right;
          text-decoration: none;
          color: white; }
        #container #page #header #access-links #seperator {
          float: right;
          background: url("../../images/separator.png") repeat-y;
          height: 20px;
          width: 1px;
          opacity: 0.6;
          margin-top: 2em; }
    #container #page #gap {
      height: 1%;
      background-color: #4162ad;
      opacity: 0.9; }
    #container #page #tabs {
      float: left;
      width: 100%;
      height: 55px;
      margin-bottom: 30px;
      background: -moz-linear-gradient(center bottom, #11083a 0pt, #2a4187 100%) repeat scroll 0 0 transparent;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #11083a), color-stop(1, #2a4187)); }
      #container #page #tabs li {
        float: right;
        list-style: none;
        padding: 0 50px;
        margin-top: -1.1em;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0.1em solid #2a4187; }
      #container #page #tabs li.ui-tabs-selected {
        float: right;
        list-style: none;
        padding: 0 50px;
        opacity: 0.8;
        background-color: #292360;
        margin-top: -1.1em;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0.1em solid #2a4187; }
      #container #page #tabs a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.3em; }
      #container #page #tabs #tabs-2 {
        margin: 9em 0 0 2em; }
      #container #page #tabs #tabs-3 {
        margin: 9em 0 0 2em; }
      #container #page #tabs #restaurant {
        margin: 9em 0 0 2em;
        width: 615px;
        height: 27em;
        border: 1px solid #c1cdcd; }
        #container #page #tabs #restaurant #heading {
          padding-left: 1em;
          margin-bottom: 1em; }
        #container #page #tabs #restaurant p {
          margin: 0.5em 0;
          float: left; }
        #container #page #tabs #restaurant .primary-button {
          float: left;
          margin-top: 1em; }
        #container #page #tabs #restaurant img {
          height: 300px;
          width: 615px; }
  #container #content {
    background-color: black;
    border: 1px solid black;
    color: white;
    opacity: 0.8;
    padding: 20px 40px 20px 70px;
    height: 575px;
    left: 50%;
    top: 50%;
    margin: -350px 0 0 -370px;
    position: absolute;
    width: 680px;
    text-align: left; }
    #container #content .field {
      width: 175px; }
    #container #content .name-field {
      width: 110px; }
    #container #content a {
      color: white; }
    #container #content h2 {
      color: #1874cd;
      margin-bottom: 8px; }
    #container #content #button {
      opacity: 1; }
    #container #content #logo-container {
      width: 27%;
      float: left; }
    #container #content #slogan {
      font-size: 23px;
      width: 68%;
      float: right; }
    #container #content #description {
      clear: both;
      font-size: 1.3em;
      margin: -34px 0 10px 56px;
      float: right;
      font-style: italic; }
    #container #content #separator {
      float: left;
      width: 1px;
      margin-left: 10px;
      margin-right: 10px;
      height: 455px;
      background: url("../../images/separator.png") repeat-y;
      margin-left: 42px; }
    #container #content #login {
      clear: both;
      float: left;
      width: 270px; }
      #container #content #login .field {
        width: 175px; }
    #container #content #signup {
      float: right;
      width: 280px;
      height: 430px; }
      #container #content #signup #first-name {
        float: left; }
      #container #content #signup #last-name {
        float: left;
        margin-left: 20px; }
      #container #content #signup #fields {
        clear: both;
        padding-top: 10px; }
      #container #content #signup #error_messages {
        margin: 8px 0 8px 0; }
      #container #content #signup a {
        text-decoration: none;
        font-weight: bold;
        color: #1874cd; }
    #container #content #footer {
      clear: both;
      float: left;
      margin-top: 10px; }
      #container #content #footer a {
        margin: 2px 2px 0 2px;
        text-decoration: none; }
    #container #content #copyright {
      clear: both;
      font-size: 9px;
      width: 35%;
      margin-left: 192px;
      padding-top: 10px; }

.primary-button {
  height: 26px;
  -moz-border-radius: 6px 6px 6px 6px;
  background-color: #6495ed;
  border: 1px solid #6495ed;
  -webkit-border-radius: 8px; }

.less-dull {
  opacity: 0.7; }

.more-dull {
  opacity: 0.4; }

.logo {
  width: 160px; }

.ui-tabs-hide {
  display: none; }

.hidden {
  display: none; }

.restaurant-name {
  font-size: 1.5em;
  width: 23em; }
