= content_for :title, "All Users"

- javascript("users/all_users")

= render "shared/header"

#page
  #users
    %h3 All Existing Users :
    = flash[:notice]
    %table{:id => 'all-users'}
      %thead
        %tr
          %th Email
          %th First Name
          %th Last Name
          %th Zip Code
          %th Created
          %th.nosort Actions
      %tbody
        = render :partial => "user", :collection => @users
