#header
  #logo
    = image_tag "reserved.jpg", :id => 'logo-image'
  #seperator
  #city CHICAGO
  #arrow
    = image_tag "/images/arrow_small.jpeg"
    #cities.hidden
      %ul
        %li
          %a{:href=>"#"} New York   (Coming Soon)
        %li
          %a{:href=>"#"} Los Angeles   (Coming Soon)
        %li
          %a{:href=>"#"} San Francisco   (Coming Soon)
        %li
          %a{:href=>"#"} Miami   (Coming Soon)
        %li
          %a{:href=>"#"} Washington D.C.   (Coming Soon)
  #access-links
    = link_to "Log Out", logout_url
    #seperator
    = link_to "My Account", user_url
#gap