#header
  #logo
    = image_tag "reserved.jpg", :id => 'logo-image'
#gap
#page
  #forgot-password
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices euismod mollis. Donec congue, sapien at dapibus blandit, sem neque volutpat ligula, id ullamcorper tortor purus a odio. Donec at tortor justo, non suscipit nunc. Nulla magna neque, rhoncus non sodales a, varius in lorem.
