#header
  #logo
    = image_tag "reserved.jpg", :id => 'logo-image'
#gap
#page
  #forgot-password
    An email with a temporary password has been sent your email address. You can now login with this new password.
    %p
    To change the temporary password, visit the 'My Account' section after
    = link_to "logging in", login_url
    = "."