= content_for :title, "Careers"

= render "shared/header"

#page
  #careers
    %p
      We are looking for talented, hard working sales executives in the Chicago area.  If you feel you have what it takes and can work in a fast paced entrepreneurial environment, we would love to hear from you.
    %p
      Please send your resume to
      = link_to "careers@tablereserved.com", url_for('mailto:careers@tablereserved.com')
      = "."