- javascript("sessions/show")

= render "shared/header"

#page
  #tabs
    = render "shared/tabs"
    #tabs-1
      Some more stuff about a restaurant
    #tabs-2
      This is how we do it
    #tabs-3
      Get to know us
  = render 'shared/footer'